[data-text-align='left'] {
  text-align: left;
}

[data-text-align='right'] {
  text-align: right;
}

[data-text-align='center'] {
  text-align: center;
}

[data-text-align='justify'] {
  text-align: justify;
}
