.icon {
  min-height: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.text-truncate {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; /* add "..." */
  white-space: nowrap; /* avoid line break */
  vertical-align: bottom;
}

.text-truncate-multiline {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* line number */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-truncate-multiline:hover {
  line-clamp: unset;
  -webkit-line-clamp: unset;
  white-space: normal;
}

.table-wrapper {
  background: var(--table-background-color);
}