:root,
[data-theme='light'] {
  --theme-primary-color-lighter: hsl(236, 50%, 90%);
  --theme-primary-color-light: hsl(236, 50%, 70%);
  --theme-primary-color-normal: hsl(236, 50%, 50%);
  --theme-primary-color-dark: hsl(236, 50%, 30%);
  --theme-primary-color-darker: hsl(236, 50%, 10%);

  --theme-secondary-color-lighter: hsl(187, 25%, 90%);
  --theme-secondary-color-light: hsl(187, 25%, 70%);
  --theme-secondary-color-normal: hsl(187, 25%, 50%);
  --theme-secondary-color-dark: hsl(187, 25%, 30%);
  --theme-secondary-color-darker: hsl(187, 25%, 10%);

  --theme-tertiary-color-lighter: hsl(34, 61%, 90%);
  --theme-tertiary-color-light: hsl(34, 61%, 70%);
  --theme-tertiary-color-normal: hsl(34, 61%, 52%);
  --theme-tertiary-color-dark: hsl(34, 61%, 30%);
  --theme-tertiary-color-darker: hsl(34, 61%, 10%);

  --theme-neutral-color-white: hsl(0, 20%, 100%);
  --theme-neutral-color-lighter: hsl(0, 20%, 90%);
  --theme-neutral-color-light: hsl(0, 20%, 70%);
  --theme-neutral-color-normal: hsl(0, 20%, 90%);
  --theme-neutral-color-dark: hsl(0, 20%, 30%);
  --theme-neutral-color-darker: hsl(0, 20%, 10%);
  --theme-neutral-color-black: hsl(0, 20%, 0%);
}

[data-theme='dark'] {
  color-scheme: dark;
  --theme-primary-color-lighter: hsl(200, 50%, 90%);
  --theme-primary-color-light: hsl(200, 50%, 70%);
  --theme-primary-color-normal: hsl(200, 50%, 50%);
  --theme-primary-color-dark: hsl(200, 50%, 30%);
  --theme-primary-color-darker: hsl(200, 50%, 10%);

  --theme-secondary-color-lighter: hsl(200, 10%, 90%);
  --theme-secondary-color-light: hsl(200, 10%, 70%);
  --theme-secondary-color-normal: hsl(200, 10%, 50%);
  --theme-secondary-color-dark: hsl(200, 10%, 30%);
  --theme-secondary-color-darker: hsl(200, 10%, 10%);

  --theme-tertiary-color-lighter: hsl(34, 61%, 90%);
  --theme-tertiary-color-light: hsl(34, 61%, 70%);
  --theme-tertiary-color-normal: hsl(34, 61%, 52%);
  --theme-tertiary-color-dark: hsl(34, 61%, 30%);
  --theme-tertiary-color-darker: hsl(34, 61%, 10%);

  --theme-neutral-color-white: hsl(0, 5%, 0%);
  --theme-neutral-color-lighter: hsl(0, 5%, 10%);
  --theme-neutral-color-light: hsl(0, 5%, 30%);
  --theme-neutral-color-normal: hsl(0, 5%, 20%);
  --theme-neutral-color-dark: hsl(0, 5%, 70%);
  --theme-neutral-color-darker: hsl(0, 5%, 90%);
  --theme-neutral-color-black: hsl(0, 5%, 100%);
}

[data-theme='midnight'] {
  color-scheme: dark;
  --theme-primary-color-lighter: hsl(260, 24%, 90%);
  --theme-primary-color-light: hsl(260, 24%, 70%);
  --theme-primary-color-normal: hsl(260, 24%, 56%);
  --theme-primary-color-dark: hsl(260, 24%, 30%);
  --theme-primary-color-darker: hsl(260, 24%, 10%);

  --theme-secondary-color-lighter: hsl(200, 10%, 90%);
  --theme-secondary-color-light: hsl(200, 10%, 70%);
  --theme-secondary-color-normal: hsl(192, 74%, 23%);
  --theme-secondary-color-dark: hsl(200, 10%, 30%);
  --theme-secondary-color-darker: hsl(200, 10%, 10%);

  /* --theme-tertiary-color-lighter: hsl(34, 61%, 90%);
  --theme-tertiary-color-light: hsl(34, 61%, 70%);
  --theme-tertiary-color-normal: hsl(34, 61%, 52%);
  --theme-tertiary-color-dark: hsl(34, 61%, 30%);
  --theme-tertiary-color-darker: hsl(34, 61%, 10%); */

  --theme-neutral-color-white: hsl(0, 0%, 0%);
  --theme-neutral-color-lighter: hsl(220, 40%, 10%);
  --theme-neutral-color-light: hsl(220, 40%, 30%);
  --theme-neutral-color-normal: hsl(220, 40%, 20%);
  --theme-neutral-color-dark: hsl(220, 40%, 70%);
  --theme-neutral-color-darker: hsl(220, 40%, 90%);
  --theme-neutral-color-black: hsl(220, 10%, 80%);
}
