*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  user-select: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  border-radius: 0.5rem;
}

select {
  display: flex;
  align-items: center;
}

option {
  padding: 0.5rem;
}

option::checkmark {
  display: none;
}

#application {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

ul,
ol,
dl {
  list-style: none;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  color: var(--table-head-text-color);
  background: var(--table-head-background-color);
  font-size: 0.85rem;
  font-weight: normal;
}

thead th:first-child {
  border-top-left-radius: 0.25rem;
}

thead th:last-child {
  border-top-right-radius: 0.25rem;
}

thead th,
tbody td {
  padding-block: 1rem;
  padding-inline: 2rem;
}

tbody tr:hover {
  background: var(--table-body-row-background-hover-color);
}

dialog[open] {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  border: none;
  outline: none;
  padding-block: 4rem;
  background: rgb(0 0 0 / 0.5);
  z-index: 5;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: var(--scrollbar-thumb-background-color);
}

::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background: var(--scrollbar-track-background-color);
}

input[type="radio"],
input[type="checkbox"] {
  min-height: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  accent-color: var(--theme-primary-color-normal);
}