/* --------------------------------------------------------------------------------------------- */
@import url(./colorimetry.style.css);
/* --------------------------------------------------------------------------------------------- */
:root,
[data-theme='light'] {
  --accordion-border-color: var(--theme-neutral-color-normal);
  --accordion-header-text-color: var(--theme-neutral-color-dark);
  --accordion-header-background-color: var(--theme-neutral-color-white);
  --accordion-content-background-color: var(--theme-neutral-color-white);

  --filled-button-text-color: var(--theme-neutral-color-lighter);
  --filled-button-background-color: var(--theme-primary-color-normal);
  --secondary-button-text-color: var(--theme-neutral-color-lighter);
  --secondary-button-background-color: var(--theme-secondary-color-normal);
  --outlined-button-text-color: var(--theme-primary-color-normal);

  --hyperlink-text-color: var(--theme-primary-color-normal);
  --hyperlink-text-active-color: var(--theme-primary-color-dark);

  --separator-border-color: var(--theme-neutral-color-normal);

  --edit-background-color: var(--theme-neutral-color-lighter);
  --edit-text-color: var(--theme-neutral-color-darker);
  --edit-border-color: var(--theme-neutral-color-normal);
  --edit-background-focus-color: var(--theme-neutral-color-lighter);
  --edit-text-focus-color: var(--theme-primary-color-dark);
  --edit-border-focus-color: var(--theme-primary-color-normal);
  --edit-file-text-color: var(--filled-button-text-color);
  --edit-file-background-color: var(--filled-button-background-color);

  --sidebar-item-text-color: var(--theme-neutral-color-dark);
  --sidebar-item-text-hover-color: var(--theme-neutral-color-lighter);
  --sidebar-item-background-hover-color: var(--theme-primary-color-light);
  --sidebar-item-text-active-color: var(--theme-neutral-color-lighter);
  --sidebar-item-background-active-color: var(--theme-primary-color-normal);
  --sidebar-item-caption-text-color: var(--theme-neutral-color-light);

  --sidebar-background-color: var(--theme-neutral-color-white);
  --sidebar-border-color: var(--theme-neutral-color-normal);

  --scrollbar-thumb-background-color: var(--theme-neutral-color-light);
  --scrollbar-track-background-color: var(--theme-neutral-color-lighter);

  --menu-border-color: var(--theme-neutral-color-normal);
  --menu-background-color: var(--theme-neutral-color-white);
  --menu-item-text-color: var(--theme-primary-color-light);
  --menu-item-background-hover-color: var(--theme-neutral-color-lighter);

  --form-dialog-background-color: var(--theme-neutral-color-white);
  --form-dialog-border-color: var(--theme-neutral-color-normal);
  --form-dialog-header-text-color: var(--theme-neutral-color-darker);
  --form-dialog-header-background-color: var(--theme-neutral-color-white);

  --table-head-text-color: var(--theme-primary-color-dark);
  --table-head-background-color: var(--theme-neutral-color-light);
  --table-body-row-background-hover-color: var(--theme-neutral-color-lighter);
}
/* --------------------------------------------------------------------------------------------- */
[data-theme='dark'] {
  color-scheme: dark;

  --accordion-border-color: var(--theme-neutral-color-normal);
  --accordion-header-text-color: var(--theme-neutral-color-dark);
  --accordion-header-background-color: var(--theme-neutral-color-white);
  --accordion-content-background-color: var(--theme-neutral-color-white);

  --filled-button-text-color: var(--theme-neutral-color-darker);
  --filled-button-background-color: var(--theme-primary-color-normal);
  --secondary-button-text-color: var(--theme-neutral-color-darker);
  --secondary-button-background-color: var(--theme-secondary-color-normal);
  --outlined-button-text-color: var(--theme-primary-color-normal);

  --hyperlink-text-color: var(--theme-primary-color-normal);
  --hyperlink-text-active-color: var(--theme-primary-color-dark);

  --edit-background-color: var(--theme-neutral-color-lighter);
  --edit-text-color: var(--theme-neutral-color-darker);
  --edit-border-color: var(--theme-neutral-color-normal);
  --edit-background-focus-color: var(--theme-neutral-color-lighter);
  --edit-text-focus-color: var(--theme-primary-color-light);
  --edit-border-focus-color: var(--theme-primary-color-normal);
  --edit-file-text-color: var(--filled-button-text-color);
  --edit-file-background-color: var(--filled-button-background-color);

  --sidebar-item-text-color: var(--theme-neutral-color-dark);
  --sidebar-item-text-hover-color: var(--theme-neutral-color-lighter);
  --sidebar-item-background-hover-color: var(--theme-primary-color-light);
  --sidebar-item-text-active-color: var(--theme-neutral-color-lighter);
  --sidebar-item-background-active-color: var(--theme-primary-color-light);
  --sidebar-item-caption-text-color: var(--theme-neutral-color-light);

  --scrollbar-thumb-background-color: var(--theme-neutral-color-light);
  --scrollbar-track-background-color: var(--theme-neutral-color-lighter);

  --menu-border-color: var(--theme-neutral-color-normal);
  --menu-background-color: var(--theme-neutral-color-white);
  --menu-item-text-color: var(--theme-primary-color-light);
  --menu-item-background-hover-color: var(--theme-neutral-color-lighter);

  --form-dialog-background-color: var(--theme-neutral-color-white);
  --form-dialog-border-color: var(--theme-neutral-color-normal);
  --form-dialog-header-text-color: var(--theme-neutral-color-darker);
  --form-dialog-header-background-color: var(--theme-neutral-color-white);

  --table-head-text-color: var(--theme-primary-color-light);
  --table-head-background-color: var(--theme-neutral-color-light);
  --table-body-row-background-hover-color: var(--theme-neutral-color-lighter);
}
/* --------------------------------------------------------------------------------------------- */
