/* --------------------------------------------------------------------------------------------- */
[data-theme='dark'] {
  color-scheme: dark;
  background: #101622;
}
/* --------------------------------------------------------------------------------------------- */
