:root {
  /* --------------------------------------------------------------------------------------------- */
  --theme-primary-color: #4caf50;
  --theme-secondary-color: #03a9f4;
  --theme-tertiary-color: #59a58e;

  --theme-white-color: #eeeeee;
  --theme-black-color: #161717;

  --theme-text-color: #242121;
  --theme-border-color: #a79393;
  --theme-background-color: #eeeeee;

  --theme-status-active-color: #81c784;
  --theme-status-hover-color: #dbe2e7;
  --theme-status-focus-color: #7e9bac70;
  /* --------------------------------------------------------------------------------------------- */
  
  /* --------------------------------------------------------------------------------------------- */
  
  /* --------------------------------------------------------------------------------------------- */
  --hyperlink-text-color: var(--theme-secondary-color);
  /* --------------------------------------------------------------------------------------------- */
  --separator-border-color: var(--theme-border-color);
  /* --------------------------------------------------------------------------------------------- */
  --breadcrumb-route-text-color: var(--theme-secondary-color);
  --breadcrumb-route-text-hover-color: var(--theme-status-hover-color);
  --breadcrumb-divider-text-color: var(--breadcrumb-route-text-color);
  /* --------------------------------------------------------------------------------------------- */
  --edit-border-color: var(--theme-border-color);
  --edit-border-color-focus: var(--theme-secondary-color);
  --edit-text-color: var(--theme-text-color);
  --edit-text-focus-color: var(--theme-text-color);
  --edit-background-color: var(--theme-background-color);
  --edit-background-focus-color: var(--edit-background-color);
  /* --------------------------------------------------------------------------------------------- */
  --form-dialog-border-color: var(--theme-border-color);
  --form-dialog-background-color: var(--theme-status-hover-color);

  --form-dialog-header-text-color: var(--theme-white-color);
  --form-dialog-header-border-color: var(--form-dialog-border-color);
  --form-dialog-header-background-color: var(--theme-tertiary-color);

  --form-dialog-icon-text-color: var(--theme-white-color);
  --form-dialog-icon-text-hover-color: var(--theme-white-color);
  /* --------------------------------------------------------------------------------------------- */
  --menu-background-color: var(--theme-background-color);
  --menu-border-color: var(--theme-border-color);
  /* --------------------------------------------------------------------------------------------- */
  --menu-item-text-color: var(--theme-secondary-color);
  --menu-item-background-hover-color: var(--theme-white-color);
  /* --------------------------------------------------------------------------------------------- */
  --sidebar-background-color: var(--theme-white-color);
  --sidebar-border-color: var(--theme-border-color);

  --sidebar-option-text-color: var(--theme-secondary-color);
  --sidebar-option-background-active-color: var(--theme-status-active-color);
  --sidebar-option-background-hover-color: var(--theme-status-focus-color);
  /* --------------------------------------------------------------------------------------------- */
  --table-background-color: transparent;
  --table-secondary-background-color: transparent;

  --table-head-text-color: var(--theme-white-color);
  --table-head-background-color: var(--theme-secondary-color);

  --table-body-background-hover-color: var(--theme-status-hover-color);
  /* --------------------------------------------------------------------------------------------- */
  --scrollbar-thumb-background-color: #ad9c9c;
  --scrollbar-track-background-color: #5e5454;
  /* --------------------------------------------------------------------------------------------- */
}
/* --------------------------------------------------------------------------------------------- */
[data-theme="dark"] {
  color-scheme: dark;
}