/* --------------------------------------------------------------------------------------------- */
.icon {
  --icon-dimension: 1.5rem;
  min-height: var(--icon-dimension);
  min-width: var(--icon-dimension);
  height: var(--icon-dimension);
  width: var(--icon-dimension);
}
/* --------------------------------------------------------------------------------------------- */
.row,
.column,
.row-reverse,
.column-reverse {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.flex-auto {
  flex: 1 1 auto;
}
/* --------------------------------------------------------------------------------------------- */
.skeleton {
  background: linear-gradient(
    90deg,
    hsl(0, 0%, 85%) 25%,
    hsl(0, 0%, 95%) 50%,
    hsl(0, 0%, 85%) 75%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-color: transparent;
}

.skeleton * {
  opacity: 0;
}

@keyframes skeleton-loading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
/* --------------------------------------------------------------------------------------------- */
.text-truncate {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; /* add "..." */
  white-space: nowrap; /* avoid line break */
  vertical-align: bottom;
}

.text-truncate-multiline {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* line number */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-truncate-multiline:hover {
  line-clamp: unset;
  -webkit-line-clamp: unset;
  white-space: normal;
}
/* --------------------------------------------------------------------------------------------- */
.table-wrapper {
  border-radius: 0.25rem;
  border: 0.0125rem solid var(--table-wrapper-border-color);
}
/* --------------------------------------------------------------------------------------------- */
.toast {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background: var(--notification-background-color);
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 0.25);
  border: 0.125rem solid transparent;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease;
  max-width: 32rem;
}

.toast:not(:last-child) {
  display: none;
}

.toast-success {
  color: var(--notification-success-color);
  border-color: var(--notification-success-color);
}

.toast-error {
  color: var(--notification-error-color);
  border-color: var(--notification-error-color);
}

.toast-information {
  color: var(--notification-information-color);
  border-color: var(--notification-information-color);
}

.toast.fade-out {
  opacity: 0;
}

.toast__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toast__message {
  font-weight: normal;
}

.toast__header .icon {
  --icon-dimension: 2.5rem;
}
/* --------------------------------------------------------------------------------------------- */
.confirm-dialog {
  height: fit-content;
  min-width: 24rem;
  border-radius: 1rem;
  background: var(--notification-background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.confirm-dialog__footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block-start: 2rem;
}
.confirm-dialog__button {
  flex: 1 1 auto;
}
/* --------------------------------------------------------------------------------------------- */
.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}
/* --------------------------------------------------------------------------------------------- */
.clickable {
  transform: scale(0.98);
}
/* --------------------------------------------------------------------------------------------- */
