.AR {
  background-image: url(/country-flag/ar.webp);
}
.BR {
  background-image: url(/country-flag/br.webp);
}
.CA {
  background-image: url(/country-flag/ca.webp);
}
.CL {
  background-image: url(/country-flag/cl.webp);
}
.CO {
  background-image: url(/country-flag/co.webp);
}
.CU {
  background-image: url(/country-flag/cu.webp);
}
.DE {
  background-image: url(/country-flag/de.webp);
}
.ES {
  background-image: url(/country-flag/es.webp);
}
.FR {
  background-image: url(/country-flag/fr.webp);
}
.IT {
  background-image: url(/country-flag/it.webp);
}
.JP {
  background-image: url(/country-flag/jp.webp);
}
.MX {
  background-image: url(/country-flag/mx.webp);
}
.PE {
  background-image: url(/country-flag/pe.webp);
}
.US {
  background-image: url(/country-flag/us.webp);
}
.VE {
  background-image: url(/country-flag/ve.webp);
}
