*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  user-select: none;
}

:focus-visible {
  outline: 0.125rem solid var(--theme-primary-color-500);
}

select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  border-radius: 0.25rem;
  border: 0.0125rem solid var(--edit-border-color);
}

select {
  display: flex;
  align-items: center;
}

option {
  padding: 0.5rem;
}

option::checkmark {
  display: none;
}

#application {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

ul,
ol,
dl {
  list-style: none;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  color: var(--table-head-text-color);
  background: var(--table-head-background-color);
  font-size: small;
  font-weight: normal;
  border-bottom: 0.0125rem solid var(--separator-border-color);
}

thead th:first-child {
  border-top-left-radius: 0.25rem;
}

thead th:last-child {
  border-top-right-radius: 0.25rem;
}

thead th,
tbody td {
  padding-block: 1rem;
  padding-inline: 2rem;
}

tbody tr:hover {
  background: var(--table-body-row-background-hover-color);
}

dialog[open] {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  border: none;
  outline: none;
  padding-block: 4rem;
  background: rgb(0 0 0 / 0.75);
  z-index: 5;
  backdrop-filter: blur(0.25rem);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: var(--scrollbar-thumb-background-color);
}

::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background: var(--scrollbar-track-background-color);
}

input[type='radio'],
input[type='checkbox'] {
  min-height: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  accent-color: var(--theme-primary-color-500);
}

/* M칩viles peque침os */
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

/* M칩viles grandes / tablets verticales */
@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 13px;
  }
}

/* Tablets horizontales */
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

/* Laptops */
@media (min-width: 1025px) and (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

/* Desktop est치ndar */
@media (min-width: 1441px) and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}

/* Ultra-wide */
@media (min-width: 1921px) {
  html {
    font-size: 18px;
  }
}
