/* --------------------------------------------------------------------------------------------- */
:root,
[data-theme='light'] {
  color-scheme: light;
  --theme-primary-color-100: hsl(210, 85%, 90%);
  --theme-primary-color-200: hsl(210, 85%, 80%);
  --theme-primary-color-300: hsl(210, 85%, 70%);
  --theme-primary-color-400: hsl(210, 85%, 60%);
  --theme-primary-color-500: hsl(210, 85%, 50%);
  --theme-primary-color-600: hsl(210, 85%, 40%);
  --theme-primary-color-700: hsl(210, 85%, 30%);
  --theme-primary-color-800: hsl(210, 85%, 20%);
  --theme-primary-color-900: hsl(210, 85%, 10%);

  --theme-secondary-color-100: hsl(200, 77%, 90%);
  --theme-secondary-color-200: hsl(200, 77%, 85%);
  --theme-secondary-color-300: hsl(200, 77%, 70%);
  --theme-secondary-color-400: hsl(200, 77%, 65%);
  --theme-secondary-color-500: hsl(200, 77%, 50%);
  --theme-secondary-color-600: hsl(200, 77%, 45%);
  --theme-secondary-color-700: hsl(200, 77%, 30%);
  --theme-secondary-color-800: hsl(200, 77%, 25%);
  --theme-secondary-color-900: hsl(200, 77%, 10%);

  --theme-tertiary-color-100: hsl(0, 59%, 90%);
  --theme-tertiary-color-200: hsl(0, 59%, 80%);
  --theme-tertiary-color-300: hsl(0, 59%, 70%);
  --theme-tertiary-color-400: hsl(0, 59%, 60%);
  --theme-tertiary-color-500: hsl(0, 59%, 50%);
  --theme-tertiary-color-600: hsl(0, 59%, 40%);
  --theme-tertiary-color-700: hsl(0, 59%, 30%);
  --theme-tertiary-color-800: hsl(0, 59%, 20%);
  --theme-tertiary-color-900: hsl(0, 59%, 10%);

  --theme-neutral-color-100: hsl(0, 0%, 100%);
  --theme-neutral-color-200: hsl(0, 0%, 95%);
  --theme-neutral-color-300: hsl(0, 0%, 85%);
  --theme-neutral-color-400: hsl(0, 0%, 75%);
  --theme-neutral-color-500: hsl(0, 0%, 65%);
  --theme-neutral-color-600: hsl(0, 0%, 55%);
  --theme-neutral-color-700: hsl(0, 0%, 45%);
  --theme-neutral-color-800: hsl(0, 0%, 35%);
  --theme-neutral-color-900: hsl(0, 0%, 25%);
}
/* --------------------------------------------------------------------------------------------- */
:root,
[data-theme='light'] {
  background: var(--theme-neutral-color-100);
  --accordion-border-color: var(--theme-neutral-color-300);
  --accordion-header-text-color: var(--theme-neutral-color-700);
  --accordion-header-background-color: var(--theme-neutral-color-100);
  --accordion-header-background-hover-color: var(--theme-neutral-color-100);
  --accordion-content-background-color: transparent;

  --filled-button-text-color: var(--theme-primary-color-100);
  --filled-button-background-color: var(--theme-primary-color-500);
  --secondary-button-text-color: var(--theme-neutral-color-100);
  --secondary-button-background-color: var(--theme-secondary-color-700);
  --outlined-button-text-color: var(--theme-primary-color-500);

  --hyperlink-text-color: var(--theme-primary-color-400);
  --hyperlink-text-active-color: var(--theme-primary-color-500);

  --edit-background-color: var(--theme-neutral-color-100);
  --edit-text-color: var(--theme-neutral-color-800);
  --edit-border-color: var(--theme-neutral-color-300);
  --edit-background-focus-color: var(--theme-neutral-color-200);
  --edit-text-focus-color: var(--theme-neutral-color-900);
  --edit-border-focus-color: var(--theme-primary-color-500);

  --sidebar-item-text-color: var(--theme-neutral-color-600);
  --sidebar-item-text-hover-color: var(--theme-neutral-color-800);
  --sidebar-item-background-hover-color: var(--theme-neutral-color-200);
  --sidebar-item-text-active-color: var(--theme-primary-color-100);
  --sidebar-item-background-active-color: var(--theme-primary-color-500);
  --sidebar-item-caption-text-color: var(--theme-neutral-color-500);

  --sidebar-background-color: var(--theme-neutral-color-100);
  --sidebar-border-color: var(--theme-neutral-color-300);

  --scrollbar-thumb-background-color: var(--theme-neutral-color-300);
  --scrollbar-track-background-color: var(--theme-neutral-color-200);

  --menu-border-color: var(--theme-neutral-color-300);
  --menu-background-color: var(--theme-neutral-color-100);
  --menu-item-text-color: var(--theme-primary-color-500);
  --menu-item-background-hover-color: var(--theme-neutral-color-200);

  --separator-border-color: var(--theme-neutral-color-300);

  --table-wrapper-border-color: var(--theme-neutral-color-300);
  --table-head-text-color: var(--theme-neutral-color-600);
  --table-head-background-color: var(--theme-neutral-color-200);
  --table-body-row-background-hover-color: var(--theme-primary-color-100);

  --notification-background-color: var(--theme-neutral-color-100);
  --notification-success-color: rgb(134, 161, 94);
  --notification-error-color: rgb(184, 48, 48);
  --notification-information-color: var(--theme-primary-color-500);

  --toggle-switch-thumb-background-color: var(--theme-neutral-color-100);
  --toggle-switch-background-color: var(--theme-neutral-color-300);
  --toggle-switch-background-checked-color: var(--theme-primary-color-500);

  --slider-background-color: var(--theme-neutral-color-300);
  --slider-fill-background-color: var(--theme-primary-color-500);
  --slider-thumb-background-color: var(--theme-neutral-color-100);
}
/* --------------------------------------------------------------------------------------------- */
