/* --------------------------------------------------------------------------------------------- */
[data-theme='midnight'] {
  color-scheme: dark;
  --theme-primary-color-100: hsl(260, 24%, 90%);
  --theme-primary-color-200: hsl(260, 24%, 80%);
  --theme-primary-color-300: hsl(260, 24%, 70%);
  --theme-primary-color-400: hsl(260, 24%, 60%);
  --theme-primary-color-500: hsl(260, 24%, 50%);
  --theme-primary-color-600: hsl(260, 24%, 40%);
  --theme-primary-color-700: hsl(260, 24%, 30%);
  --theme-primary-color-800: hsl(260, 24%, 20%);
  --theme-primary-color-900: hsl(260, 24%, 10%);

  --theme-secondary-color-100: hsl(192, 74%, 90%);
  --theme-secondary-color-200: hsl(192, 74%, 80%);
  --theme-secondary-color-300: hsl(192, 74%, 70%);
  --theme-secondary-color-400: hsl(192, 74%, 60%);
  --theme-secondary-color-500: hsl(192, 74%, 50%);
  --theme-secondary-color-600: hsl(192, 74%, 40%);
  --theme-secondary-color-700: hsl(192, 74%, 30%);
  --theme-secondary-color-800: hsl(192, 74%, 20%);
  --theme-secondary-color-900: hsl(192, 74%, 10%);

  --theme-tertiary-color-100: hsl(200, 100%, 90%);
  --theme-tertiary-color-200: hsl(200, 100%, 80%);
  --theme-tertiary-color-300: hsl(200, 100%, 70%);
  --theme-tertiary-color-400: hsl(200, 100%, 60%);
  --theme-tertiary-color-500: hsl(200, 100%, 50%);
  --theme-tertiary-color-600: hsl(200, 100%, 40%);
  --theme-tertiary-color-700: hsl(200, 100%, 30%);
  --theme-tertiary-color-800: hsl(200, 100%, 20%);
  --theme-tertiary-color-900: hsl(200, 100%, 10%);

  --theme-neutral-color-100: hsl(220, 40%, 90%);
  --theme-neutral-color-200: hsl(220, 40%, 80%);
  --theme-neutral-color-300: hsl(220, 40%, 70%);
  --theme-neutral-color-400: hsl(220, 40%, 60%);
  --theme-neutral-color-500: hsl(220, 40%, 50%);
  --theme-neutral-color-600: hsl(220, 40%, 40%);
  --theme-neutral-color-700: hsl(220, 40%, 30%);
  --theme-neutral-color-800: hsl(220, 40%, 20%);
  --theme-neutral-color-900: hsl(220, 40%, 10%);
}
/* --------------------------------------------------------------------------------------------- */
[data-theme='midnight'] {
  background: var(--theme-neutral-color-900);

  --accordion-border-color: var(--theme-neutral-color-800);
  --accordion-header-text-color: var(--theme-neutral-color-300);
  --accordion-header-background-color: var(--theme-primary-color-800);
  --accordion-header-background-hover-color: var(--theme-primary-color-700);
  --accordion-content-background-color: transparent;

  --filled-button-text-color: var(--theme-primary-color-100);
  --filled-button-background-color: var(--theme-primary-color-500);
  --secondary-button-text-color: var(--theme-neutral-color-100);
  --secondary-button-background-color: var(--theme-secondary-color-800);
  --outlined-button-text-color: var(--theme-primary-color-300);

  --hyperlink-text-color: var(--theme-primary-color-300);
  --hyperlink-text-active-color: var(--theme-primary-color-500);

  --edit-background-color: var(--theme-neutral-color-800);
  --edit-text-color: var(--theme-neutral-color-300);
  --edit-border-color: var(--theme-neutral-color-800);
  --edit-background-focus-color: var(--theme-neutral-color-800);
  --edit-text-focus-color: var(--theme-neutral-color-300);
  --edit-border-focus-color: var(--theme-primary-color-300);
  --edit-file-text-color: var(--filled-button-text-color);
  --edit-file-background-color: var(--filled-button-background-color);

  --sidebar-item-text-color: var(--theme-neutral-color-300);
  --sidebar-item-text-hover-color: var(--theme-neutral-color-300);
  --sidebar-item-background-hover-color: var(--theme-neutral-color-800);
  --sidebar-item-text-active-color: var(--theme-neutral-color-100);
  --sidebar-item-background-active-color: var(--theme-primary-color-500);
  --sidebar-item-caption-text-color: var(--theme-neutral-color-400);

  --sidebar-background-color: var(--theme-neutral-color-900);
  --sidebar-border-color: var(--theme-neutral-color-800);

  --scrollbar-thumb-background-color: var(--theme-neutral-color-700);
  --scrollbar-track-background-color: var(--theme-neutral-color-800);

  --menu-border-color: var(--theme-neutral-color-800);
  --menu-background-color: var(--theme-neutral-color-900);
  --menu-item-text-color: var(--theme-primary-color-300);
  --menu-item-background-hover-color: var(--theme-neutral-color-900);

  --form-dialog-background-color: var(--theme-neutral-color-900);
  --form-dialog-border-color: var(--theme-neutral-color-800);
  --form-dialog-header-text-color: var(--theme-neutral-color-300);
  --form-dialog-header-background-color: var(--accordion-header-background-color);

  --separator-border-color: var(--theme-neutral-color-800);

  --table-wrapper-border-color: var(--theme-neutral-color-800);
  --table-head-text-color: var(--theme-primary-color-100);
  --table-head-background-color: var(--theme-neutral-color-700);
  --table-body-row-background-hover-color: var(--theme-primary-color-800);
}
/* --------------------------------------------------------------------------------------------- */
